@charset "utf-8";

/**
 * ***** common *****
 */
body {
	font-size: .2rem;
	color: #333;
	/* -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; */
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {width: 6px;height: 6px;border-radius: 5px;}
/* 滚动槽 */
::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);border-radius: 5px;margin: 5px 0;}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {border-radius: 5px;background: rgba(18,139,124, 1);-webkit-box-shadow: inset 0 0 6px rgba(155,155,155,0.6);}

/** 载入网页字体 **/
/* @font-face {
	font-family: 'zihun35';
	src: url('../fonts/zihun35.ttf');
} */

/* 设置浮动 */
.fl{float:left;}
.fr{float:right;}
ul:after,
dl:after,
ol:after,
.clearfix:after,
.row:after {content:"\200B";display:block;height:0;clear:both;}
.clearfix {*zoom:1;}

/* layout */
.container {padding: 0 .17rem;}

/* 控制显示 */
.visible-xs,
.hidden {display: none;}

/* 文本对齐 */
.text-center {text-align: center;}
.text-right {text-align: right;}

/* color */

/* icon */
.icon {display: inline-block;background-repeat: no-repeat;background-size: cover;background-position: center;}

/* btn */
.btn {display: inline-block;padding: 0 .1rem;font-size: .14rem;line-height: .28rem;}
.btn-primary {color: #0e8b7c;background-color: #ccebe6;}

/*title*/

/*form*/
.filter-container {padding: 0 .1rem .1rem .1rem;}
.form-filter {position: relative;}
.form-filter .form-group {float: left;margin-top: .1rem;margin-right: .1rem;}
.form-filter .label {float: left;height: .36rem;font-size: .18rem;line-height: .36rem;color: #0e8b7c;}
.form-filter .form-control {height: .36rem;padding: 0 .1rem;font-size: .16rem;line-height: .34rem;border: .01rem solid #0e8b7c;border-radius: .05rem;}
.form-filter .btn-group {position: absolute;top: .1rem;right: 0;}
.form-filter .btn-group .btn {height: .36rem;padding: 0 .25rem;font-size: .18rem;line-height: .36rem;border-radius: .05rem;}

/* 日期 */
.form-control.advanceDate {padding-right: .32rem;background: url(../images/icons/calendar.png) no-repeat right .08rem center / .16rem auto;}

.form-control.select {padding-right: .32rem;background: url(../images/icons/dropdown.png) no-repeat right .08rem center / .16rem auto;}

/*table*/
.table {width: 100%;text-align: center;background-color: #fff;border-left: 1px solid #ccc;border-top: 1px solid #ccc;}
.table-data th,
.table-data td {padding: .08rem;font-size: .16rem;line-height: .24rem;border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;}
.table-data tr:nth-child(even) {background-color: #efefef;}

/* layui */

/* 列宽栅格，总数12 */
.row {margin-left: -.07rem;margin-right: -.07rem;}
.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-1-5 {float: left;padding-left: .07rem;padding-right: .07rem;}
.col-sm-1 {width: 8.33%;}
.col-sm-2 {width: 16.66%;}
.col-sm-3 {width: 25%;}
.col-sm-4 {width: 33.33%;}
.col-sm-5 {width: 41.66%;}
.col-sm-6 {width: 50%;}
.col-sm-7 {width: 58.33%;}
.col-sm-8 {width: 66.66%;}
.col-sm-9 {width: 75%;}
.col-sm-10 {width: 83.33%;}
.col-sm-11 {width: 91.66%;}
.col-sm-12 {width: 100%;}
.col-sm-1-5 {width: 20%;}

/* 高度栅格，总栅格12 */
.height-1 {height: 8.33%;}
.height-2 {height: 16.66%;}
.height-3 {height: 25%;}
.height-4 {height: 33.33%;}
.height-5 {height: 41.66%;}
.height-6 {height: 50%;}
.height-7 {height: 58.33%;}
.height-8 {height: 66.66%;}
.height-9 {height: 75%;}
.height-10 {height: 83.33%;}
.height-11 {height: 91.66%;}
.height-12 {height: 100%;}

/* 垂直居中 */
.middle-box{display: table;margin:0 auto; position:relative;}
.middle-inner{display: table-cell; vertical-align:middle; *position:absolute; *top:50%; *left:50%; width:100%; text-align:center;}
.middle-inner p{position:relative; *top:-50%; *left:-50%;}

.echarts {width: 100%;height: 100%;overflow: hidden;}

/*空空如也*/
.nothing {display: none;position: relative;width: 100%;height: 100%;text-align: center;}
.nothing.absolute {position: absolute;left: 0;top: 0;}
.nothing-content {position: absolute;top: 50%;left: 0;transform: translateY(-50%);width: 100%;}
.nothing .icon {display: block;width: 100%;height: 1.5rem;background: url(../images/nothing_blue.png) no-repeat center / auto 100%;}
.nothing .text {margin-top: .4rem;font-size: .16rem;line-height: .3rem;color: #bec0c0;}

/*日期-时间*/
.time-value-content {position: fixed;bottom: 0;right: 0;z-index: 0;display: inline-block;padding: 0 .12rem;font-size: .12rem;line-height: 0;opacity: 0;}

/**
 * ***** main *****
 */
.window-height {height: 100%;}
.window-height.fixed {position: fixed;top: 0;left: 0;width: 100%;}
.full-height {height: 100%;}

/* 选项卡 */
.tab-primary {position: relative;padding-top: .5rem;}
.tab-primary .tab-nav {position: absolute;top: 0;left: 0;z-index: 10;width: 100%;font-size: 0;line-height: 0;background-color: #f8f9fe;border-top-left-radius: .25rem;border-top-right-radius: .25rem;}
.tab-primary .tab-nav .item {height: .5rem;margin-left: -.2rem;padding: 0 .9rem;font-size: .2rem;line-height: .5rem;color: #128b7c;background-color: #cdebe6;border-top-left-radius: .25rem;border-top-right-radius: .25rem;box-shadow: 0 0 .1rem rgba(0,0,0,.2);}
.tab-primary .tab-nav .item:first-child {margin-left: 0;}
.tab-primary .tab-nav .item.active {position: relative;z-index: 10;color: #fff;background-color: #128b7c;}
.tab-primary .tab-content {height: 100%;}
.tab-primary .tab-content-item {display: none;position: relative;height: 100%;}
.tab-primary .tab-content-item:first-child {display: block;}

.tab-primary .tab-content-item.filter {padding-top: .56rem;}
.tab-primary .tab-content-item .filter-container {position: absolute;top: 0;left: 0;z-index: 10;width: 100%;}

.tab-content-wrap {padding: .1rem;overflow: auto;}

/**
 * ***** layer *****
 */
body .layui-layer-title {color: #fff;background-color: #29b1d3;}
body .layui-layer-btn a {height: 30px;}
body .layui-layer-btn .layui-layer-btn0 {background-color: #29b1d3;border-color: #29b1d3;}

/* layer-tips */
body .layui-layer.layui-layer-tips .layui-layer-content {color: #fff;background-color: #29b1d3;}
body .layui-layer.layui-layer-tips i.layui-layer-TipsB,
body .layui-layer.layui-layer-tips i.layui-layer-TipsT {border-right-color: #29b1d3;}