
@{
    Layout = null;
}
@using WNMS.Model.DataModels;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SetTemplate</title>
    <link href="~/css/hyl.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/zlw.css">
    <link href="~/css/hyl.css" rel="stylesheet" />
    <link href="~/css/bootstrap-table.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/anniu.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link href="~/lib/layer/layer.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap-switch/4.0.0-alpha.1/css/bootstrap-switch.min.css">

    <script src="~/js/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/bootstrap-table.min.js"></script>
    <script src="~/js/bootstrap-table-zh-CN.min.js"></script>
    <script src="~/lib/layer/layer.js"></script>
    <script src="//cdn.bootcss.com/bootstrap-switch/4.0.0-alpha.1/js/bootstrap-switch.min.js"></script>
    <style>
                .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-secondary {
                    background-color: #c1b3b34d !important;
                }
    </style>
</head>
<body>
    <div class="zlw_manage">
        <div class="zlw_managecon" style="padding-left:0px">
            <div class="zlw_manageconrgcon zlw_bfxx">

                <div class="" style="height:51px;border-bottom:1px solid #ddd">
                    <div class="btn-group pull-left" style="margin-top:10px;margin-left:10px">
                        
                        <input type="text" id="searchtext" class="hyl_input" style="width: 260px;" placeholder="模板名称" autocomplete="off" />
                       
                        
                        <button type="button" class="hyl_btn" id="addbtn"><i class="fa fa-plus"></i> 新增子项</button>
                    </div>

                </div>

                <!-- 表格 -->
                <div class="zlw_manageconrgconsan" style="height:calc(100%);margin-top:10px">
                    <table id="table" class="table-striped">
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        
        $(function () {
             var $table = $("#table");
            $table.bootstrapTable({
                method: "post",
                url: "/Wo/WO_InspectionPlan/QueryFeedBackItem",
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: false,                   //是否显示分页（*）
                sortable: false,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                height: $(window).height(),
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                //pageNumber: 1,                       //初始化加载第一页，默认第一页
                //pageSize: 10,                       //每页的记录行数（*）
                //pageList: [10, 15, 20],        //可供选择的每页的行数（*）
                contentType: "application/x-www-form-urlencoded",
                queryParams: function (params) {
                    var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                       TemplateID:""
                    };

                    return temp;
                },//传递参数（*）
                uniqueId: "no",                     //每一行的唯一标识，一般为主键列
                showToggle: false,                    //是否显示详细视图和列表视图的切换按钮

                responseHandler: function (res) {

                    return {
                        'total': res.total, //总的数据长度
                        'rows': JSON.parse(res.rows) //单页查询返回的数据
                    }
                },
                columns: [
                    {
                        field: 'state',
                        formatter: changeFormat
                    },
                    {
                        field: 'FeedBackName',
                        title: '参数名称'
                    },
                     {
                        field: 'Unit',
                        title: '单位'
                    }
                    , {

                        field: 'ItemName',
                        title: '类型'
                    },
                    {

                        field: 'ID',
                        title: '操作',
                        formatter: changeOperateFormat
                    }

                ],
                onLoadSuccess: function () {
                    initSwitch();
             }

            });

        })
      
          //启用禁用
        function initSwitch() {
            $("[name='my-checkbox1']").bootstrapSwitch({
                onText: "已选",
                offText: "未选",
                onColor: "success",
                //offColor: "info",
                size: "mini",
                onSwitchChange: function (event, state) {
                    if (typeof ($(this).attr("checked")) == "undefined") {
                        $(this).attr("checked", "checked");
                    }
                    else {
                        $(this).removeAttr("checked", "checked");
                    }
                }
            })
        }
        function changeFormat(value, row, index) {
            if (value == 1) {
                return '<input value="' + row.ID + '" type="checkbox"  name="my-checkbox1" checked />';
            }
            else {
                 return '<input value="' + row.ID + '" type="checkbox"  name="my-checkbox1"/>';
            }

        }
        function changeOperateFormat(value) {
            var str = " <button type='button' class='hyl_btn' onclick='Edite(" + value + ")'>编辑</button>";
            str += "<button type='button' class='hyl_btn' onclick='delete_fb(" + value + ")'>删除</button>";
            return str;
        }
        //保存
       
        function saveForm(func) {
             if ($("#searchtext").val() == "") {
                layer.alert("模板名称不能为空");
                return;
            }
            var fb_ids = "";
             $("input:checkbox[name='my-checkbox1']:checked").each(function () {
                 fb_ids += $(this).val() + ",";
             })
            if (fb_ids != "") {
                fb_ids = fb_ids.substring(0, fb_ids.length - 1);
            }
            else {
                layer.alert("至少选中一个反馈项");
                return;
            }
            $.post("/Wo/WO_InspectionPlan/SetTemplateInfo", {
                tid: 0,
                tname: $("#searchtext").val(),
                fb_ids:fb_ids
            }, function (res) {
                    if (res.result == "ok") {
                        layer.alert("操作成功");
                       //操作成功
                        func(res.templateid);

                    }
                    else if (res.result == "no") {
                        layer.alert("操作失败");
                    }
                    else {
                        layer.alert(res);
                    }
            });
        }
        
        function refreshTable(t_id) {
            var opt = {
                TemplateID: t_id
               };
            $("#table").bootstrapTable('refresh', opt);
        }
      
        //新增子项
        $("#addbtn").click(function () {
              parent.iframeWithBtns("添加反馈项", "500px", "500px", "/Wo/WO_InspectionPlan/AddGD_FeedBackInfo", false, function (formIndex, formLayer) {
                    var currentIframe =parent.window[formLayer.find('iframe')[0]['name']];
                    currentIframe.saveForm1(function (data) {
                        if (data == "ok") {
                            layer.alert("添加成功");
                            parent.layer.close(formIndex);
                            refreshTable(0);
                        }
                        else {
                            layer.alert("添加失败");
                        }
                    });
                });
        })
        //修改反馈项
        function Edite(id) {
             parent.iframeWithBtns("修改反馈项", "500px", "500px", "/Wo/WO_InspectionPlan/EditeGD_FeedBackInfo/"+id+"", false, function (formIndex, formLayer) {
                    var currentIframe =parent.window[formLayer.find('iframe')[0]['name']];
                    currentIframe.saveForm1(function (data) {
                        if (data == "ok") {
                            layer.alert("修改成功");
                            parent.layer.close(formIndex);
                            refreshTable(0);
                        }
                        else {
                            layer.alert("修改失败");
                        }
                    });
                });
        }
        //删除反馈项
        function delete_fb(id) {
            layer.confirm("确定要删除该反馈项吗？", {
                    btn: ["确定", "取消"]
                },
                    function () {
                        deleteFeedBack(id);
                    },
                    function () { }
                );

        }
        function deleteFeedBack(id) {
              $.post("/Wo/WO_InspectionPlan/DeleteFB", {id:id}, function (res) {
                if (res == "ok") {
                    layer.alert("删除成功");

                    refreshTable(0);
                }
                else {
                    layer.alert("删除失败");
                }

            });
        }
    </script>
</body>
</html>
