
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>选择泵房</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/zlw.css">
    <script src="~/js/jquery-1.12.4.min.js"></script>

    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-table.min.css">
    <link href="~/css/hyl.css" rel="stylesheet" />
    <!-- 按钮 -->
    <link rel="stylesheet" href="~/css/anniu.css">
    <!-- bootstrap -->
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/bootstrap-table.min.js"></script>
    <script src="~/js/bootstrap-table-zh-CN.min.js"></script>
    <!-- layer -->
    <link href="~/lib/layer/layer.css" rel="stylesheet" />
    <script src="~/lib/layer/layer.js"></script>
    <style>
        .zlw_manageconrgconyi {
            position: absolute;
            left: 10px;
            top: 0;
            height: 100%;
            margin-top: 10px;
        }

        .zlw_manageconrgconsan {
            height: 100%
        }

            .zlw_manageconrgconsan .bootstrap3 {
                height: calc(100% - 50px)
            }

        .fixed-table-container {
            height: calc(100% - 100px)
        }
    </style>
    <script type="text/javascript">
        var $table;
        var index = parent.layer.getFrameIndex(window.name);
        $(function () {
            //初始化bootstrap-table的内容
            InitMainTable();
            $("#btnSelect").click(function () {
                 var opt = {
                pageNumber:1
            };
                $table.bootstrapTable('refresh', opt);
            });
            $("#stationName").keydown(function (e) {
                if (e.keyCode == 13) {
                    var opt = {
                        pageNumber: 1
                    };
                    $table.bootstrapTable('refresh', opt);
                    return false;
                }
            });  

        })
        
        function InitMainTable() {
            //记录页面bootstrap-table全局变量$table，方便应用
            var queryUrl = '/Sws/Sws_PropertyInfo/LoadStationList';
            $table = $('#tabledata').bootstrapTable({
                url: queryUrl,                      //请求后台的URL（*）
                method: 'GET',                      //请求方式（*）
                //toolbar: '#toolbar',              //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                  singleSelect: true, 
                sortable: true,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                      //初始化加载第一页，默认第一页,并记录
                pageSize: 10,                     //每页的记录行数（*）
                pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                search: false,                      //是否显示表格搜索
                //strictSearch: true,
                //showColumns: true,                  //是否显示所有的列（选择显示的列）
                showRefresh: false,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                //clickToSelect: true,                //是否启用点击选中行
                height: $(window).height() - 100,                      //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "StationId",                     //每一行的唯一标识，一般为主键列
                //showToggle: true,                   //是否显示详细视图和列表视图的切换按钮
                //cardView: false,                    //是否显示详细视图
                //detailView: false,                  //是否显示父子表
                //得到查询的参数
                queryParams: function (params) {
                    //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                    var temp = {
                        pageSize: params.limit,                         //页面大小
                        pageIndex: (params.offset / params.limit) + 1,   //页码
                        //sort: params.sort,      //排序列名
                        sort: params.sort == undefined ? "StationId" : params.sort,      //排序列名
                        sortOrder: params.order, //排位命令（desc，asc）
                        stationName: $("#stationName").val(),
                    };
                    return temp;
                },
                columns: [{
                    checkbox: true,
                    visible: true
                }, {
                    field: 'StationNum',
                    title: '泵房编号',
                    width: 100,
                    //sortable: true
                }, {
                    field: 'StationName',
                    title: '泵房名称',
                    sortable: true,
                    width: 200
                }, {
                    field: 'InstallationDate',
                    title: '安装时间',
                    width: 200,
                    formatter: function (value, row, index) {
                        return changeDateFormat(value)
                    }
                    //sortable: true
                }, {
                    field: 'DoorInsert',
                    title: '门禁接入',
                    //sortable: true
                    formatter: function (value, row, index) {
                        return isOrnoFormat(value)
                    },
                }, {
                    field: 'CameraMonitor',
                    title: '视频接入',
                    formatter: function (value, row, index) {
                        return isOrnoFormat(value)
                    }
                    //sortable: true
                }
                    , {
                    field: 'ControlMonitor',
                    title: '控制接入',
                    formatter: function (value, row, index) {
                        return isOrnoFormat(value)
                    }
                    //sortable: true
                }],
                responseHandler(res) {
                    // 修改返回
                    return {
                        "rows": JSON.parse(res.rows), //单页查询返回的数据,
                        "total": res.total
                    };
                },
                onLoadSuccess: function (res) {

                },
                onLoadError: function () {
                },
                onDblClickRow: function (row, $element) {
                },
            });
        };
       
        function changeDateFormat(cellval) {
            if (cellval != null) {
                var date = cellval.replace("T", " ");
                return date;
            }
        }
        function isOrFormat(cellval) {
            if (cellval != null) {
                if (cellval == 0)
                    return "否";
                else
                    return "是";
            }
        }
        function isOrnoFormat(cellval) {
            if (cellval != null) {
                if (cellval == false)
                    return "否";
                else
                    return "是";
            }
        }

      
         function saveForm1(func) {
           
            var row = $("#tabledata").bootstrapTable('getAllSelections');
            if (row.length != 1) {
               func(0,"");
            } else {
               
                func(row[0].StationId,row[0].StationName);
            }

        }
    </script>
</head>

<body>
    <div class="zlw_manage">

        <!-- star right -->
        <div class="zlw_manageconrg">
            <div class="zlw_manageconrgcon">
                <!-- star 查询 -->
                <div class="mt10px ml10px mb10px">
                    <ul class="clearfloat">
                        <li>
                            <label class="hyl_label">快速查询 </label>
                            <input id="stationName" type="text" class="hyl_input ml10px" placeholder="输入泵房名称、泵房编号"  autocomplete="off"/>
                            <button class="hyl_btn" id="btnSelect"> <i class="fa fa-search"></i> 查询</button>
                        </li>
                    </ul>
                </div>
                <!-- 查询 end -->
                @*<div class="zlw_manageconrgconer" style="height:65px">
                    </div>*@
                <!-- 表格 -->
                <div class="zlw_manageconrgconsan">
                    <table id="tabledata" class=" table-striped">
                    </table>
                </div>
            </div>
        </div>
        <!-- right end -->

    </div>
    <script>
        $(".button_su_inner").mouseenter(function (e) {
            var parentOffset = $(this).offset();
            var relX = e.pageX - parentOffset.left;
            var relY = e.pageY - parentOffset.top;
            $(this).prev(".su_button_circle").css({
                "left": relX,
                "top": relY
            });
            $(this).prev(".su_button_circle").removeClass("desplode-circle");
            $(this).prev(".su_button_circle").addClass("explode-circle");
        });
        $(".button_su_inner").mouseleave(function (e) {
            var parentOffset = $(this).offset();
            var relX = e.pageX - parentOffset.left;
            var relY = e.pageY - parentOffset.top;
            $(this).prev(".su_button_circle").css({
                "left": relX,
                "top": relY
            });
            $(this).prev(".su_button_circle").removeClass("explode-circle");
            $(this).prev(".su_button_circle").addClass("desplode-circle");
        });
        $(".button_su_inner").mouseenter(function (e) {
            var parentOffset = $(this).offset();
            var relX = e.pageX - parentOffset.left;
            var relY = e.pageY - parentOffset.top;
            $(this).prev(".su_button_circle").css({
                "left": relX,
                "top": relY
            });
            $(this).prev(".su_button_circle").removeClass("desplode-circle");
            $(this).prev(".su_button_circle").addClass("explode-circle");
        });
        $(".button_su_inner").mouseleave(function (e) {
            var parentOffset = $(this).offset();
            var relX = e.pageX - parentOffset.left;
            var relY = e.pageY - parentOffset.top;
            $(this).prev(".su_button_circle").css({
                "left": relX,
                "top": relY
            });
            $(this).prev(".su_button_circle").removeClass("explode-circle");
            $(this).prev(".su_button_circle").addClass("desplode-circle");
        });
    </script>
    <script>
        // 按钮切换样式
        $(function () {
            $(".zlw_time_con li").click(function () {
                $(this).siblings('.zlw_time_con li').removeClass('zlw_bgact');  // 删除其他兄弟元素的样式
                $(this).addClass('zlw_bgact');                            // 添加当前元素的样式
            });
            // 数据

            $('.fixed-table-loading').hide()
        });
    </script>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        模态框（Modal）标题
                    </h4>
                </div>
                <div class="modal-body">
                    角色名：<input type="text">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" class="btn btn-primary">
                        提交更改
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</body>
</html>