
@{
    Layout = null;
}
@using WNMS.Model.DataModels;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SetRole</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/zlw.css">
    <link rel="stylesheet" href="~/css/hyl.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-table.min.css">
    @*<link href="~/css/AdminLTE.lite.css" rel="stylesheet" />*@
    <link href="~/lib/jquery-validation/dist/validation.css" rel="stylesheet" />
    <!-- 按钮 -->
    <link rel="stylesheet" href="~/css/anniu.css">
    <!-- bootstrap -->
    <script src="~/js/jquery-1.12.4.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/bootstrap-table.min.js"></script>
    <script src="~/js/bootstrap-table-zh-CN.min.js"></script>
    <!-- layer -->
    <link href="~/lib/layer/layer.css" rel="stylesheet" />
    <script src="~/lib/layer/layer.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    
</head>
<body>
    @model SysRole
    <div style="padding:20px" class="xiugai"> 
        <form id="FormRole" class="" action="/Sys/Sys_Role/SetRoleInfo" data-ajax="true" data-ajax-method="post" data-ajax-begin="validateForm" data-ajax-success="_addFun">
            <div class="box-body">
                <input name="id_Role" for="RoleId" value="@Model.RoleId" style="display:none;" />              
                <div class="">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="RoleName">角色名称</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-user"></i>
                                            </div>
                                            <input type="text" class="form-control" id="RoleName" name="RoleName" placeholder="请输入角色名称" value="@Model.RoleName" autocomplete="off">
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Sort">序号</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-user"></i>
                                            </div>
                                            <input type="text" class="form-control" id="Sort" name="Sort" placeholder="请输入序号" value="@Model.Sort" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="Remark">备注</label>
                                <div>
                                    <textarea id="Remark" style="height:180px" name="Remark" class="form-control" placeholder="">@Model.Remark</textarea>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
             </div>
        </form>

    </div>
    <script>
        var index = parent.layer.getFrameIndex(window.name);
        $(function () {
            validateForm();

        });
        function saveForm() {
            $("form").submit();
        }

        function validateForm() {
            $("#FormRole").validate({
                rules: {
                    RoleName: "required",
                    Sort: {
                        required: true,
                        digits: true,
                        min: 0
                    }
                },
                messages: {
                    RoleName: "请输入角色名",
                    Sort: {
                        required: "请输入角色序号",
                        digits: "角色序号必须为整数",
                        min: "角色序号必须为大于1的整数"
                    }
                }
            });
        }
        function _addFun(data) {
            if (data == "ok") {
                window.parent.Refresh();
                parent.layer.close(index);
            } else {
                if (data == "false") {
                    layer.alert("角色ID已经存在，请重新输入！");
                } else if(data == "hassort") {
                    layer.alert("序号已存在");
                }else    {
                    layer.alert("提交失败！");
                }
            }
        }
    </script>
</body>
</html>
